.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

body{
    background-color: #161a1d;
    color: white;
}

h1{
    margin-top: 20px;
    margin-bottom: 20px;
}

h2{
    margin-top: 100px;
    margin-bottom: 40px;
}

h3{
    color: #e5383b;
}

h5{
    text-align: center;
}

.body-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-brand{
    display: flex;
    align-items: center;
}

.logo-nav{
    width: 40px;
    height: 40px;
    margin-right: 20px;
    background-color: #6a040f;
    padding: 5px;
    border-radius: 50%;
}

.navbar-brand p{
    font-weight: bold;
    margin: 0;
}

.nav-item{
    margin-right: 20px;
}

.form-control{
    min-width: fit-content;
}

a.navbar-brand{
    margin-left: 10px;
}

a.nav-link{
    font-size: 17px;
    /* color: #f48c06; */
}

ul.navbar-nav{
    margin-left: 20px;
}

.attribution{
    display: flex;
    margin: 20px 20px 20px 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.attribution p{
    margin: 0;
    margin-left: 50px;
    color: white;
}

.attribution img{
    height: 45px;
    width: auto;
}

.login-card{
    width: 40%;
}

.carousel{
    margin-top: 60px;
    width: 75%;
}

.carousel-item img{
    height: 60vh;
    object-fit: cover;
    object-position: 50% top;
}

.two-content{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}

.action-text{
    color: #004e98;
}

.action-text:hover{
    cursor: pointer;
    text-decoration: underline;
}

.logo-container{
    width: 50%;
    display: flex;
    justify-content: center;
}

.catalogo{
    display: flex;
    width: 90%;
}

.score-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#score{
    width: 90%;
}

#filter-form{
    width: 33%;
}

.genre-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 140px);
}

.filter-title{
    margin-top: 15px;
}

.movies-container{
    width: 100%;
    margin-left: 30px;
    /* display: grid; */
    /* grid-template-columns: repeat(3, 300px); */
    /* grid-template-rows: repeat(auto-fit, 800px); */
    /* justify-content: center; */
    /* gap: 15px; */
    /* align-items: flex-start; */
}

.movie-card{
    width: 300px;
}

.card-body-movie{
    display: flex;
    flex-direction: column;
}

.card-title{
    align-self: center;
}

.card-img-movie{
    height: auto;
    width: 185px;
    align-self: center;
    border-radius: 10px;
    margin-bottom: 10px;
}

.movie-genres-container{
    display: flex;
    flex-wrap: wrap;
}

.movie-genre{
    margin: 5px;
}

.btn-play{
    display: flex;
    justify-content: center;
}

.movie-row-container{
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.movie-row-container p{
    margin-bottom: 0;
    margin-right: 5px;
}

.star-image{
    content: url('https://static.vecteezy.com/system/resources/previews/022/133/469/original/star-shape-star-icon-yellow-star-in-rating-symbol-free-png.png');
    height: 18px;
    width: 18px;
}

.description-toggle{
    margin-top: 10px;
}

.description-text{
    text-align: justify;
    display: none;
}

.bold-text{
    font-weight: bold;
}

.underlined-text{
    text-decoration: underline;
}

.show-text{
    display: block;
}

.grid-item-ms{
    width: 300px;
    margin-bottom: 20px;
}

.sorry-no-movies{
    text-align: center;
    font-size: 20px;
}

.no-movies-img{
    content: url('https://cdn0.iconfinder.com/data/icons/web-development-48/64/error-404-warning-computer-program-512.png');
    zoom: 50%;
}

.footer{
    margin-top: 20px;
}

.footer-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px 0px 10px;
}

.footer-body p{
    margin: 0;
}